<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head th:replace="~{fragments :: head}"></head>
<body>
<header th:replace="~{fragments :: header}"></header>

    <main>
        <h3>Delete Transfer</h3>
        <p th:unless="${transferLogList} and ${transferLogList.size()}">
            <em>No transfers to display.</em>
        </p>
        <form action="/transfer-log/delete" method="POST">
            <th:block th:each="transfer : ${transferLogList}">
                <label>
                    <input type="checkbox" name="transferIds" th:value="${transfer.id}" />
                    <span th:text="${transfer}"></span>
                </label><br />
            </th:block>

            <button type="submit">Delete</button>
        </form>
    </main>

    <div><a class="navlink" href="/transfer-log">View Transfers</a></div>
    <div><a class="navlink" href="/transfer-log/add">Add Transfers</a></div>

</body>
</html>